/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
} */


h1 {
    text-align: center;
    color: red;
}
h3 {
    text-align: center;
}
header {
    text-align: center;
}
#menubar {
    background-color: green;
    padding: 1px;
}

ul li {
    list-style-type: none;
    display: inline;
    margin: 20px;
    font-size: 1.4rem;
    color: white;
    padding: 5px;
    margin: 10px;
    transition: .5s;
}
ul li:hover {
    background: white;
    color: green;
}

/* css comments here ....... */


article {
    background-color: yellowgreen;
    padding: 20px;
    margin-top: 20px;
}
article h3 {
    text-align: center;
    font-family: cursive;
    font-size: 1.4rem;
}

article p {
    color: aliceblue;
    font-size: 5vw;
    font-family: 'Times New Roman', Times, serif;
}

form {
    width: 100%;
    background-color: rgba(0, 128, 0, 0.897);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
form label {
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: center;
}
form input {
    padding: 5px 10px;
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    outline: none;
    color: white;
    font-size: 1.2rem;
}
select {
    padding: 5px;
    background-color: transparent;
}
select
button[type="submit"] {
    font-size: 1.2rem;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
button {
    font-size: 1.2rem;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 10px;
}


/* animation testing */

.animate {
    height: 100px;
    width: 100px;
    background-color: red;
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    0% {
         transform: rotateX(0deg);
    }
    100% {
           transform: rotate(360deg);
    }
}

.test {
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    /* transform: translate(-50%,-50%); */
}


#flex {
    height: 500px;
    width: 100%;
    background-color: yellow;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.item {
    height: 50px;
    width: 50px;
    background-color: white;
    margin: 10px;
}

#grid {
    height: 600px;
    width: 100%;
    background-color: green;
    padding: 15px;
    display: grid;
    /* grid-template-rows: auto auto auto auto auto auto;  */
    grid-template-columns: auto auto;
    grid-gap: 30px ;
  
}

#grid .items {
    height: auto;
    width: auto;
    background-color: red;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
   grid-column-start: 1;
   grid-column-end: 3;
}
.article {
    grid-row-start: 2;
    grid-row-end: 4;
}
.section {
    
}
.service {
    
}
.contact {
    grid-column-start: 1;
    grid-column-end: 3;
}
.footer {
    grid-column-start: 1;
    grid-column-end: 3;
}


@media screen and (max-width:500px) {
    /* body {
        background-color: red;
    } */
     #menubar {
        height: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: .7s;
     }
     ul li {
        display: block;
        text-align: center;
        
    }
    .dropdown:hover + #menubar {
        height: 300px;
    }
}


@media screen and (min-width:700px) and (max-width:1200px) {
    body {
        background-color: yellow;
    }
}

@media (min-width:500px) {
    /* body {
        background-color: green;
    } */
    .test {
        background-color: red;
    }
     .picture {
        display: grid;
        place-items: center;
    }
    img {
        height: 600px;
        width: 600px;
    }
    video {
        height: 600px;
        width: 600px;
        margin-bottom: 50px;
    }
   
}